{% extends "base_fluid.html" %}

{% block content_body %}

  <div class="row-fluid">
    <div class="span1">
      &nbsp;
    </div><!--/span-->
    <div class="span10">
      <div class="span10">
        <h1>Next Month's Estimated Prices</h1>
      </div>
      <div class="span10">
        <p>
        &nbsp;
        </p>
      </div>
      <div class="span10">
        <div id="chart-container" style="width:90%; height: 440px;">
          <img src="{{ STATIC_URL }}imgs/ActualGraph.png">
        </div>
      </div>
    </div>
    <div class="span1">
      &nbsp;
    </div><!--/span-->
  </div>

  <div class="row-fluid" style="margin-bottom:100px;">
    <div class="span3">
      &nbsp;
    </div>
    <div class="span9">
    <p>For your estimated kWh usage over the next 30 days, these are the most relevant plans:</p>

    <p><b>Best Value</b>:  The least expensive plan, regardless of renewable energy composition.<br>
    Reach Energy, Spring Special E-Plan : estimated price: $51.08, savings: $22.90
    </p>

    <p><b>Greener option</b>:  The least expensive plan utilizing more renewable energy than your current plan.<br>
    Proton Energy, 1 Month Residential Fixed: estimated price: $51.88, savings: $22.10</p>

    <p><b>Greenest option</b>:  The least expensive plan with 100% renewable energy.<br>
    Southwest Power and Light: Month to Month Renewable E-Plan: estimated price: $71.34, savings: $2.64
    </p> 

    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Retail Electric Provider</th>
            <th>Plan Name</th>
            <th>Your Estimated Monthly Price</th>
            <th>Average Rate</th>
            <th>Renewable Energy Content</th>
            <th>Rate Type</th>
            <th>Contract Length (months)</th>
            <th>Cancellation Fee</th>
            <th>Contract Details</th>
            <th>Plan Fact Sheet</th>
          </tr>
        </thead>
        <tbody>
          {% for value in provider_info %}
          <tr>
            <td>{{ value.RepCompany }}</td>
            <td>{{ value.Product }}</td>
            <td>$ {{ value.Kwh|floatformat:2 }}</td>
            <td>{{ value.AvgPrice|floatformat:1 }} &cent;</td>
            <td>{{ value.Renewable }}</td>
            <td>{{ value.RateType }}</td>
            <td>{{ value.TermValue }}</td>
            <td>{{ value.CancelType }}</td>
            <td><a href="{{ value.TermsURL }}">terms</a></td>
            <td><a href="{{ value.FactsURL }}">facts</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock content_body %}

{% block additional %}
  <script type="text/javascript">
    $(document).ready(function() {
      chart1 = new Highcharts.Chart({
         chart: {
            renderTo: 'chart-container',
            type: 'bar'
         },
         title: {
            text: 'Fruit Consumption'
         },
         xAxis: {
            categories: ['Apples', 'Bananas', 'Oranges']
         },
         yAxis: {
            title: {
               text: 'Fruit eaten'
            }
         },
         series: [{
            name: 'Jane',
            data: [1, 0, 4]
         }, {
            name: 'John',
            data: [5, 7, 3]
         }]
      });        
    });
  </script>
{% endblock additional %}
