{% extends "base_fluid.html" %}

{% block content_body %}

  <div class="row-fluid">
    <div class="span9">
        <div class="row-fluid">
          <div class="span9">
            <img width="200" src="{{ STATIC_URL }}imgs/logo.png">
          </div>
        </div>
        <div class="row-fluid">
          <div class="hero-unit">
            <h1>Welcome to Power Ally</h1>
          </div>
        </div>
    </div>
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">Check out best rates for you!</li>
          <form method="POST" action="{% url home %}">
            {% csrf_token %}
            {% if form.errors %}
              <div class="control-group error">
                {{ form.email }}
                {{ form.zip_code }}
                {{ form.account_number }}
              </div>
            {% else %}
              <div class="control-group">
                {{ form.email }}
                {{ form.zip_code }}
                {{ form.account_number }}
              </div>
            {% endif %}
            <button type="submit" class="btn btn-primary">Empower</button>
          </form>
        </ul>
      </div><!--/.well -->
    </div><!--/span-->
  </div>


{% endblock content_body %}
